body {
    background-image:url("indexbg.jpg");
}

* {
    margin: 0;
    padding: 0;
}

.game-main-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.game-main {
    width: 1200px;
    display: flex;
    margin-top: 50px;
}

.tabs {
    width: 20%;
}

.container {
    width: 80%;
    padding-left: 50px;
}

#tabCon_0 {
    display: none;
}

#tabCon_1 {
    display: none;
}

#tabCon_2 {
    display: none;
}

.tabs ul .bg {
    background-image:url("textbg.png");
    color: white;
}

li {
    height: 70px;
    list-style: none;
    background-color: #1a1a1d;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



.tab-item {
    padding: 20px 20px 20px 20px;
    background-color: #1a1a1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    border:1px black solid;
}
.tab-item-left{
    display:flex;
    align-items:center;
}
.tab-item-left-element{
    margin-right:10px;
}

.myright {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px #EDEFF0 solid;
    margin-top: 50px;
    color:white;
}
