body {
}

* {
    margin: 0;
    padding: 0;
}

.about-main-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.about-main {
    width: 1200px;
    display: flex;
    margin-top: 50px;
}

.tabs {
    width: 20%;
}

.container {
    width: 80%;
    padding-left: 50px;
}

#tabCon_0 {
    display: none;
}

#tabCon_1 {
    display: none;
}

.tabs ul .bg {
    background-color: #bc0000;
    color: white;
}

li {
    height: 70px;
    list-style: none;
    background-color: #EDEFF0;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2C3F4C;
}

.tab-title {
    color: #2C3F4C;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
}

.tab-main {
    padding: 20px 20px 20px 20px;
    background-color: #EDEFF0;
    font-size:18px;
    
}
.myright {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px #EDEFF0 solid;
    margin-top:50px;
}

